manifest {
  name                            = 'Grandeur'
  author                          = 'Erin Young'
  homePage                        = 'https://github.com/UPHL-BioNGS/Grandeur'
  mainScript                      = 'grandeur.nf'
  version                         = '3.0.20230115'
  defaultBranch                   = 'main'
  description                     = 'Grandeur is short-read de novo assembly pipeline with serotyping.'
}

//########## Setting Profiles ##########

profiles {
  docker {
    docker.enabled                = true
    docker.runOptions             = "-u \$(id -u):\$(id -g)"
    includeConfig                 './configs/grandeur_template.config'
    }
  singularity {
    singularity.enabled           = true
    singularity.autoMounts        = true
    includeConfig                 './configs/grandeur_template.config'
    }
  uphl {
    includeConfig './configs/UPHL.config'
    }
  msa {

  }
  test {
    params.sra_accessions         = ["SRR11725329", "SRR13643280", "SRR14436834", "SRR14634837", "SRR7738178", "SRR7889058"]  
  }
  test1 {
    params.sra_accessions         = ["SRR11725329", "SRR13643280", "SRR14436834", "SRR14634837", "SRR7738178", "SRR7889058"]
    params.current_datasets       = false
    params.mash_db                = false
  }
  test2 {
    params.sra_accessions         = ["SRR22314961", "SRR22314960", "SRR22314959", "SRR22314958" ]
    params.msa                    = true
  }
}
