manifest {
  name                            = 'Grandeur'
  author                          = 'Erin Young'
  homePage                        = 'https://github.com/UPHL-BioNGS/Grandeur'
  mainScript                      = 'main.nf'
  version                         = '4.5.240626'
  defaultBranch                   = 'main'
  description                     = 'Grandeur is short-read de novo assembly pipeline with serotyping.'
  nextflowVersion                 = '!>=22.10.1'
}

//########## Setting Profiles ##########

profiles {
  docker {
    docker.enabled         = true
    conda.enabled          = false
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
    apptainer.enabled      = false
    docker.runOptions      = '-u $(id -u):$(id -g)'
    }
  singularity {
    singularity.enabled    = true
    singularity.autoMounts = true
    conda.enabled          = false
    docker.enabled         = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
    apptainer.enabled      = false
    }
  msa {
    params.msa                    = true
    }
  just_msa {
    params.msa                    = true
    params.skip_extras            = true
    }
  test {
    // default workflow
    params.sra_accessions         = ["SRR11725329", "SRR13643280", "SRR14436834", "SRR14634837", "SRR7738178", "SRR7889058"]  
    }
  test0 {
    // default workflow while skipping extras
    params.sra_accessions         = ["SRR11725329", "SRR13643280"]
    params.skip_extras            = true
    }
  test1 {
    // turning on current datasets
    params.sra_accessions         = ["SRR11725329", "SRR13643280", "SRR14436834", "SRR14634837", "SRR7738178", "SRR7889058"]
    params.current_datasets       = true
    }
  test2 {
    // phylogenetic analysis
    params.sra_accessions         = ["SRR22314961", "SRR22314960", "SRR22314959", "SRR22314958" ]
    params.msa                    = true
    }
  test3 {
    // phylogenetic analysis without extras
    params.sra_accessions         = ["SRR22314961", "SRR22314960", "SRR22314959", "SRR22314958" ]
    params.msa                    = true
    params.skip_extras            = true
    }
  test4 {
    // phylogenetic analysis with current datasets
    params.sra_accessions         = ["SRR22314961", "SRR22314960", "SRR22314959", "SRR22314958" ]
    params.msa                    = true
    params.current_datasets       = true
    }
  test5 {
    // phylogenetic analysis and exclude fastani top hit
    params.sra_accessions         = ["SRR22314961", "SRR22314960", "SRR22314959", "SRR22314958" ]
    params.msa                    = true
    params.exclude_top_hit        = true
    }
  test6 {
    // phylogenetic analysis with roary and exclude fastani top hit
    params.sra_accessions         = ["SRR22314961", "SRR22314960", "SRR22314959", "SRR22314958" ]
    params.msa                    = true
    params.exclude_top_hit        = true
    params.aligner                = 'roary'
    }
  uphl {
    includeConfig './configs/UPHL.config'
    }
}

process {
    maxRetries    = 1
    maxErrors     = '-1'

    withLabel:process_single {
      cpus   = { 1    }
      memory = { 4.GB }
      time   = { 30.m }
    }
    withLabel:process_low {
        cpus   = { 2      }
        memory = { 12.GB  }
        time   = { 2.h    }
    }
    withLabel:process_medium {
        cpus   = { 6      }
        memory = { 36.GB  }
        time   = { 4.h    }
    }
    withLabel:process_high {
        cpus   = { 12     }
        memory = { 72.GB  }
        time   = { 16.h   }
    }
    withLabel:process_long {
        time   = { 20.h   }
    }
    withLabel:process_high_memory {
        memory = { 200.GB  }
    }
}
