//# Instructions --------------------------------------------
//# We think it's great that you want to adjust some paramaters.
//# This is very useful when running this on the cloud.
//# This is especially useful for the following processes:
//#     - params.kraken2_db to specify where the kraken2 database is on your system
//# Right now, most everything is commented out with '//'.
//# To adjust a parameter, remove the '//' from in front of a param and replace the value
//# with the one that suits your needs.
//# Don't hesitate to ask for assistance at https://github.com/UPHL-BioNGS/Grandeur/issues
//# if something doesn't work (also, please include a copy of your config file).

//# Docker Params -------------------------------------------
//docker.enabled                  = true
//docker.runOptions               = '-u \$(id -u):\$(id -g)'
//docker.sudo                     = false
//docker.temp                     = /tmp
//docker.remove                   = true
//docker.registry                 = ''
//docker.fixOwnership             = true
//docker.engineOptions            = ''
//docker.mountFlags               = ''

//# Singularity Params --------------------------------------
//singularity.enabled             = true
//singularity.autoMounts          = true
//singularity.runOptions          = ""
//process.stageInMode             = "link"
//singularity.engineOptions       = ''
//singularity.cacheDir            = ''

//# AWS Batch Params ----------------------------------------
//process.executor                = 'awsbatch'
//process.queue                   = ''
//aws.batch.cliPath               = '/home/ec2-user/miniconda/bin/aws'
//aws.region                      = 'us-east-1'
//workDir                         = 's3://'

//# Google Cloud Params -------------------------------------
//process.executor                = ''
//google.project                  = ''
//google.location                 = ''
//google.region                   = ''
//workDir                         = ''
//google.lifeSciences.bootDiskSize = 50.GB

//# Nextflow Tower ------------------------------------------
//tower.accessToken               = ''
//tower.enabled                   = true

//# How this file was obtained -------------------------------
//params.config_file              = false

//# Adjustable Workflow parameters ---------------------------
//params.reads                    = 'reads'
//params.fastas                   = 'fastas'
//params.outdir                   = 'grandeur'
//params.sample_sheet             = 'sample_sheet.csv'
//params.fasta_list               = 'fasta_list.txt' 

//# main workflow params
//params.minimum_reads            = 10000
//params.skip_extras              = false

//# external reference files and databases
//# WARNING : workflow.projectDir is not evaulated in a config file
//params.kraken2_db               = "<path to extracted kraken2 database>"
//params.blast_db                 = "<path to extracted blast database>"
//params.blast_db_type            = "<blast database type (i.e. 'nt')>"
//params.mash_db                  = "<path to mash reference file (ends in .msh)>"
//params.fastani_ref              = "<path to fasta>"
//params.fastani_ref_list         = "<path to file with paths to fastas>
//params.genome_sizes             = workflow.projectDir + "/assets/genome_sizes.json"       


//# For getting species estimations
//params.mash_max_hits            = 25
//params.datasets_max_genomes     = 5

//# SRA accessions mainly for testing
//params.sra_accessions           = []

//# Choosing dynamic references vs static references for fastani
//params.current_datasets         = false

//# Phylogenetic anslysis
//params.msa                      = false
//params.iqtree2_outgroup         = "<name of outgroup for iqtree2>"
//params.min_core_genes           = 1500
//params.exclude_top_hit          = false

//process {
//# final directory
// publishDir = [ path: params.outdir, mode: 'copy' ]
//
//# cpu management
//  withLabel: maxcpus {
//    cpus = params.maxcpus
//  }
//  withLabel: medcpus {
//    cpus = params.medcpus
//  }
//
//# processes
//      withName:amrfinderplus{
//              label = ""process_high""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/ncbi-amrfinderplus:3.11.26-2023-11-15.1'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//              time = "'30m'"
//      }
//      withName:bbduk{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/bbtools:39.01'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//              time = "'10m'"
//      }
//      withName:blastn{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/blast:2.15.0'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//              time = "'2h'"
//      }
//      withName:blobtools_create{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'chrishah/blobtools:v1.1.1'"
//              time = "'45m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:blobtools_plot{
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'chrishah/blobtools:v1.1.1'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:blobtools_view{
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'chrishah/blobtools:v1.1.1'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:circulocov{
//              label = ""process_medium""
//              publishDir = "path: params.outdir, mode: 'copy'"
//              container = "'quay.io/uphl/circulocov:0.1.20240104-2024-02-21'"
//              time = "'30m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:core_genome_evaluation{
//              label = ""process_single""
//              publishDir = "path: params.outdir, mode: 'copy', pattern: 'logs/*/*log'"
//              publishDir = "path: params.outdir, mode: 'copy', pattern: 'core_genome_evaluation/core_genome_evaluation.csv'"
//              container = "'quay.io/bios/pandas:1.5.2'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:datasets_download{
//              // = "because there's no way to specify threads"
//              label = ""process_medium""
//              publishDir = "path: grandeur, mode: 'copy', pattern: "logs/*/*log""
//              container = "'staphb/ncbi-datasets:16.2.0'"
//              time = "'5h'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:datasets_summary{
//              label = ""process_single""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/ncbi-datasets:16.2.0'"
//              time = "'1h'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore' }"
//      }
//      withName:download_sra{
//              label = ""process_single""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'quay.io/bios/pandas:1.5.2'"
//              time = "'2h'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:drprg{
//              label = ""process_medium""
//              publishDir = "path: params.outdir, mode: 'copy'"
//              container = "'staphb/drprg:0.1.1'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:elgato{
//              label = ""process_medium""
//              publishDir = "path: params.outdir, mode: 'copy'"
//              container = "'staphb/elgato:1.15.2'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:emmtyper{
//              label = ""process_medium""
//              publishDir = "path: params.outdir, mode: 'copy'"
//              container = "'staphb/emmtyper:0.2.0'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:fastani{
//              label = ""process_medium""
//              publishDir = "path: params.outdir, mode: 'copy', pattern: 'logs/*/*log'"
//              publishDir = "path: params.outdir, mode: 'copy', pattern: 'fastani/*'"
//              container = "'staphb/fastani:1.34'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:fastp{
//              label = ""process_low""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/fastp:0.23.4'"
//              time = "'30m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:fastqc{
//              label = ""process_single""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/fastqc:0.12.1'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:flag{
//              label = ""process_single""
//              //no = "publishDir params.outdir, mode: 'copy'"
//              container = "'quay.io/bios/pandas:1.5.2'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:heatcluster{
//              label = ""process_single""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/heatcluster:1.0.2c'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:iqtree2{
//              label = ""process_high""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/iqtree2:2.2.2.7'"
//              time = "'24h'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:json_convert{
//              label = ""process_single""
//              // = "no publishDir"
//              container = "'quay.io/bios/pandas:1.5.2'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:kaptive{
//              label = ""process_medium""
//              publishDir = "path: params.outdir, mode: 'copy'"
//              container = "'staphb/kaptive:2.0.8'"
//              time = "'30m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:kleborate{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/kleborate:2.4.1'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:kraken2{
//              label = ""process_high""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/kraken2:2.1.3'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//              time = "'1h'"
//      }
//      withName:mash_dist{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/mash:2.3'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//              time = "'10m'"
//      }
//      withName:mash_err{
//              // = "no publishDir"
//              label = ""process_single""
//              container = "'quay.io/bios/pandas:1.5.2'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:mash_sketch_fasta{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/mash:2.3'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//              time = "'10m'"
//      }
//      withName:mash_sketch_fastq{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/mash:2.3'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//              time = "'10m'"
//      }
//      withName:mashtree{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/mashtree:1.4.6'"
//              time = "'4h'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:mlst{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/mlst:2.23.0-2024-01'"
//              maxForks = "10"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//              time = "'10m'"
//      }
//      withName:mqc_prep{
//              // = "no publishDir"
//              label = ""process_single""
//              container = "'quay.io/bios/pandas:1.5.2'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:multiqc{
//              label = ""process_single""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/multiqc:1.19'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:mykrobe{
//              label = ""process_medium""
//              publishDir = "path: params.outdir, mode: 'copy'"
//              container = "'staphb/mykrobe:0.13.0'"
//              time = "'1h'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:names{
//              // = "no publishDir"
//              label = ""process_single""
//              container = "'quay.io/bios/pandas:1.5.2'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:panaroo{
//              label = ""process_high""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/panaroo:1.3.4'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//              time = "'10h'"
//      }
//      withName:pbptyper{
//              label = ""process_medium""
//              publishDir = "path: params.outdir, mode: 'copy'"
//              container = "'staphb/pbptyper:1.0.4'"
//              time = "'1h'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:phytreeviz{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/phytreeviz:0.1.0'"
//              time = "'1h'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:plasmidfinder{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/plasmidfinder:2.1.6'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:prokka{
//              label = ""process_high""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/prokka:1.14.6'"
//              time = "'2h'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:quast{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/quast:5.2.0'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:references{
//              // = "no publishDir"
//              label = ""process_single""
//              container = "'quay.io/uphl/grandeur_ref:20240124'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//              output: = ""
//              path = ""ref/*", emit: fastas"
//      }
//      withName:seqsero2{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/seqsero2:1.2.1'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:serotypefinder{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/serotypefinder:2.0.1'"
//              maxForks = "10"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:shigatyper{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/shigatyper:2.0.5'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//              time = "'10m'"
//      }
//      withName:snp_dists{
//              label = ""process_medium""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/snp-dists:0.8.2'"
//              maxForks = "10"
//              time = "'2h'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:spades{
//              label = ""process_high""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'staphb/spades:3.15.5'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//              time = "'5h'"
//      }
//      withName:species{
//              label = ""process_single""
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'quay.io/bios/pandas:1.5.2'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:summary{
//              publishDir = "params.outdir, mode: 'copy'"
//              container = "'quay.io/bios/pandas:1.5.2'"
//              label = ""process_single""
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:versions{
//              label = ""process_single""
//              publishDir = ""${params.outdir}/summary", mode: 'copy'"
//              container = "'staphb/multiqc:1.19'"
//              time = "'10m'"
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//	}

