//# Instructions --------------------------------------------
//# We think it's great that you want to adjust some parameters.
//# This is very useful when running this on the cloud.
//# This is especially useful for the following processes:
//#     - params.kraken2_db to specify where the kraken2 database is on your system
//# Right now, most everything is commented out with '//'.
//# To adjust a parameter, remove the '//' from in front of a param and replace the value
//# with the one that suits your needs.
//# Don't hesitate to ask for assistance at https://github.com/UPHL-BioNGS/Grandeur/issues
//# if something doesn't work (also, please include a copy of your config file).

//# Docker Params -------------------------------------------
//docker.enabled                  = true
//docker.runOptions               = '-u $(id -u):$(id -g)'
//docker.sudo                     = false
//docker.temp                     = /tmp
//docker.remove                   = true
//docker.fixOwnership             = true
//docker.engineOptions            = ''
//docker.mountFlags               = ''

//# Singularity Params --------------------------------------
//singularity.enabled             = true
//singularity.autoMounts          = true
//singularity.runOptions          = ""
//process.stageInMode             = "link"
//singularity.engineOptions       = ''
//singularity.cacheDir            = ''

//# AWS Batch Params ----------------------------------------
//process.executor                = 'awsbatch'
//process.queue                   = ''
//aws.batch.cliPath               = '/home/ec2-user/miniconda/bin/aws'
//aws.region                      = 'us-east-1'
//workDir                         = 's3://'

//# Google Cloud Params -------------------------------------
//process.executor                = ''
//google.project                  = ''
//google.location                 = ''
//google.region                   = ''
//workDir                         = ''
//google.lifeSciences.bootDiskSize = 50.GB

//# HPC / Cluster Params ------------------------------------
//process.executor                = 'slurm'
//process.queue                   = 'general'
//process.clusterOptions          = '--account=my_lab_account'
//executor.queueSize              = 100
//executor.submitRateLimit        = '10 sec'

//# Nextflow Tower ------------------------------------------
//tower.accessToken               = ''
//tower.enabled                   = true

//# Nextflow Reports & Tracing ------------------------------
//report.enabled                  = true
//report.file                     = "${params.outdir}/pipeline_info/execution_report.html"
//timeline.enabled                = true
//timeline.file                   = "${params.outdir}/pipeline_info/execution_timeline.html"
//trace.enabled                   = true
//trace.file                      = "${params.outdir}/pipeline_info/execution_trace.txt"
//dag.enabled                     = true
//dag.file                        = "${params.outdir}/pipeline_info/pipeline_dag.svg"

//# Disk Management -----------------------------------------
//cleanup                         = true

//# How this file was obtained -------------------------------
//params.config_file              = false

//# Adjustable Workflow parameters ---------------------------
//params.input                  = null
//params.sample_sheet           = null
//params.fastas                 = null
//params.fasta_list             = null
//params.reads                  = null
//params.outdir                 = 'grandeur'
//params.sra_accessions         = null
//params.genome_accessions      = null
//params.genome_sizes           = null
//params.container_registry     = 'docker.io'
//params.checkm2_db             = null
//params.kraken2_db             = null
//params.mash_db                = null
//params.sylph_db               = null
//params.reference_genomes      = null
//params.min_core_genes         = 500
//params.min_core_per           = 0.5
//params.minimum_reads          = 10000
//params.exclude_top_hit        = null
//params.msa                    = null
//params.aligner                = 'panaroo'
//params.annotator              = 'bakta'
//params.skip_extras            = null
//params.current_datasets       = null
//params.help                   = null
//params.help_full              = null
//params.show_hidden            = null
//params.version                = null
//params.trace_report_suffix    = null
//params.publish_dir_mode       = 'copy'
//params.email_on_fail          = null
//params.plaintext_email        = null
//params.monochrome_logs        = null
//params.email                  = null
//params.hook_url               = null
//params.pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
//params.config_profile_description = null
//params.config_profile_name    = null
//params.custom_config_version  = 'master'
//params.custom_config_base     = 'https://raw.githubusercontent.com/nf-core/configs/master'
//params.config_profile_url     = null
//params.config_profile_contact = null

//process {
//    cpus   = { 1                     }
//    memory = { 6.GB                  }
//    time   = { 4.h * task.attempt }
//
//    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//    maxRetries    = 1
//    maxErrors     = '-1'
//
//    withLabel:process_single {
//        cpus   = { 1                   }
//        memory = { 6.GB                }
//        time   = { 4.h  * task.attempt }
//    }
//    withLabel:process_low {
//        cpus   = { 2                    }
//        memory = { 12.GB                }
//        time   = { 4.h   * task.attempt }
//    }
//    withLabel:process_medium {
//        cpus   = { 6                    }
//        memory = { 36.GB                }
//        time   = { 8.h   * task.attempt }
//    }
//    withLabel:process_high {
//        cpus   = { 12                   }
//        memory = { 72.GB                }
//        time   = { 16.h  * task.attempt }
//    }
//    withLabel:process_long {
//        time   = { 20.h  * task.attempt }
//    }
//    withLabel:process_high_memory {
//        memory = { 200.GB                }
//    }
//    withLabel:error_ignore {
//        errorStrategy = 'ignore'
//    }
//    withLabel:error_retry {
//        errorStrategy = 'retry'
//        maxRetries    = 2
//    }
//    withName: AMRFINDER {
//        tag           = "${meta.id}"
//        label         = "process_high"
//        cpus          = 12
//        memory        = 72.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/ncbi-amrfinderplus:4.2.7-2026-05-15.1'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "--plus"
//        ext.prefix    = "${meta.id}"
//    }
//    withName: BAKTA {
//        tag           = "${meta.id}"
//        label         = "process_high"
//        cpus          = 12
//        memory        = 72.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/bakta:1.12.0-6.0-light'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = '30m'
//        ext.args      = "--min-contig-length 500 --compliant --skip-plot"
//        ext.prefix    = "${meta.id}"
//    }
//    withName: CHECKM2 {
//        tag           = "${meta.id}"
//        label         = "process_high"
//        cpus          = 12
//        memory        = 72.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/checkm2:1.1.0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "${meta.id}"
//    }
//    withName: CONCAT_REPORTS {
//        tag           = "${output_name}"
//        label         = "process_single"
//        cpus          = 1
//        memory        = 6.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/pandas:3.0.5'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//    }
//    withName: CORE_GENOME_EVALUATION {
//        tag           = "Evaluating core genome"
//        label         = "process_single"
//        cpus          = 1
//        memory        = 6.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/pandas:3.0.5'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//    }
//    withName: DATASETS_DOWNLOAD {
//        tag           = "Downloading Genomes"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/ncbi-datasets:18.31.0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//    }
//    withName: DATASETS_SUMMARY {
//        tag           = "${taxon}"
//        label         = "process_single"
//        cpus          = 1
//        memory        = 6.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/ncbi-datasets:18.31.0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "--reference --mag exclude --limit 5"
//        ext.prefix    = taxon
//    }
//    withName: DRPRG {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/drprg:0.1.1'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "${meta.id}"
//    }
//    withName: ELGATO {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/elgato:1.23.0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "${meta.id}"
//    }
//    withName: EMMTYPER {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/emmtyper:0.2.0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "${meta.id}"
//    }
//    withName: ENA_DOWNLOAD {
//        tag           = "${SRR}"
//        label         = "process_single"
//        cpus          = 1
//        memory        = 6.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/enabrowsertools:1.7.2'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "${SRR}"
//    }
//    withName: FASTP {
//        tag           = "${meta.id}"
//        label         = "process_low"
//        cpus          = 2
//        memory        = 12.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/fastp:1.3.6'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "--detect_adapter_for_pe"
//        ext.prefix    = "${meta.id}"
//    }
//    withName: FASTQC {
//        tag           = "${meta.id}"
//        label         = "process_single"
//        cpus          = 1
//        memory        = 6.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/fastqc:0.12.1'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "${meta.id}"
//    }
//    withName: GOTREE {
//        tag           = "${newick.baseName}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/gotree:0.5.1'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "gotree_${newick.baseName}"
//    }
//    withName: HEATCLUSTER {
//        tag           = "${matrix}"
//        label         = "process_single"
//        cpus          = 1
//        memory        = 6.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/heatcluster:1.3.0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "heatcluster_${matrix.baseName}"
//    }
//    withName: IQTREE {
//        tag           = "${msa.baseName}"
//        label         = "process_high"
//        cpus          = 12
//        memory        = 72.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/iqtree3:3.1.2'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "-t RANDOM -m GTR+F+I -bb 1000 -alrt 1000"
//        ext.prefix    = "iqtree_${msa.baseName}"
//    }
//    withName: JSON_CONVERT {
//        tag           = "${meta.id}"
//        label         = "process_single"
//        cpus          = 1
//        memory        = 6.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/pandas:3.0.5'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//    }
//    withName: KAPTIVE {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/kaptive:3.2.1'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "${meta.id}"
//    }
//    withName: KLEBORATE {
//        tag           = "${meta.id}"
//        label         = "process_low"
//        cpus          = 2
//        memory        = 12.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/kleborate:3.2.4-micromamba'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "--trim_headers"
//        ext.prefix    = "${meta.id}"
//    }
//    withName: KRAKEN2 {
//        tag           = "${meta.id}"
//        label         = "process_high"
//        cpus          = 12
//        memory        = 72.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/kraken2:2.17.1'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "${meta.id}"
//    }
//    withName: KSNP4 {
//        tag           = "kSNP4 Tree"
//        label         = "process_high"
//        cpus          = 12
//        memory        = 72.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/ksnp4:4.1-2607'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "-k 19 -core -ML -NJ"
//        ext.prefix    = "ksnp4_run"
//    }
//    withName: MASH_DIST {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/mash:2.3'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "-v 0 -d 0.15"
//        ext.prefix    = "${meta.id}"
//    }
//    withName: MASH_SCREEN {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/mash:2.3'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "-v 0 -i 0.9 -w" 
//        ext.prefix    = "${meta.id}"
//    }
//    withName: MASHTREE {
//        tag           = "Phylogenetic analysis"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/mashtree:1.4.6'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "--outmatrix mashtree/${prefix}.txt"
//        ext.prefix    = "mashtree"
//    }
//    withName: MENINGOTYPE {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/meningotype:0.8.5'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "--finetype"
//        ext.prefix    = "${meta.id}"
//    }
//    withName: MLST {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/mlst:2.32.2'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "${meta.id}"
//    }
//    withName: MQC_PREP {
//        tag           = "prepping files"
//        label         = "process_single"
//        cpus          = 1
//        memory        = 6.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/pandas:3.0.5'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//    }
//    withName: MULTIQC {
//        tag           = "multiqc"
//        label         = "process_single"
//        cpus          = 1
//        memory        = 6.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/multiqc:1.35'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//    }
//    withName: MYKROBE {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/mykrobe:0.13.0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "--species tb --format json_and_csv"
//        ext.prefix    = "${meta.id}"
//    }
//    withName: NGMASTER {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/ngmaster:1.1.1'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "--csv"
//        ext.prefix    = "${meta.id}"
//    }
//    withName: PANAROO {
//        tag           = "Core Genome Alignment"
//        label         = "process_high"
//        cpus          = 12
//        memory        = 72.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/panaroo:1.7.0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "--clean-mode strict --remove-invalid-genes --alignment core"
//        ext.prefix    = 'panaroo'
//    }
//    withName: PBPTYPER {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/pbptyper:2.0.0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "${meta.id}"
//    }
//    withName: PLASMIDFINDER {
//        tag           = "${meta.id}"
//        label         = "process_low"
//        cpus          = 2
//        memory        = 12.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/plasmidfinder:3.0.3'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "${meta.id}"
//    }
//    withName: PROKKA {
//        tag           = "${meta.id}"
//        label         = "process_high"
//        cpus          = 12
//        memory        = 72.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/prokka:1.15.6'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "--mincontiglen 500 --compliant --locustag locus_tag --centre STAPHB"
//        ext.prefix    = "${meta.id}"
//    }
//    withName: QUAST {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/quast:5.3.0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "--no-icarus"
//        ext.prefix    = "${meta.id}"
//    }
//    withName: REFERENCES {
//        tag           = "Preparing references"
//        label         = "process_single"
//        cpus          = 1
//        memory        = 6.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/grandeur_ref:4.6'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//    }
//    withName: ROARY {
//        tag           = "Core Genome Alignment"
//        label         = "process_high"
//        cpus          = 12
//        memory        = 72.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/roary:3.13.0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = 'roary'
//    }
//    withName: SEQSERO2 {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/seqsero2:1.3.2'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "-m a -b mem"
//        ext.prefix    = "${meta.id}"
//    }
//    withName: SEQSERO2S {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/seqsero2s:1.1.4'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "${meta.id}"
//    }
//    withName: SEROTYPEFINDER {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/serotypefinder:2.0.2'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "${meta.id}"
//    }
//    withName: SHIGAPASS {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/shigapass:1.5.0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "${meta.id}"
//    }
//    withName: SKA2 {
//        tag           = "SKA alignment"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/ska2:0.5.1'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "--filter no-filter"
//        ext.prefix    = "ska"
//    }
//    withName: SKANI_DIST {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/skani:0.3.2'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "--short-header -s 90"
//        ext.prefix    = "${meta.id}"
//    }
//    withName: SKANI_SKETCH {
//        tag           = "Sketching reference genomes with SKANI"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/skani:0.3.2'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "skani_db"
//    }
//    withName: SNPDISTS {
//        tag           = "${aln}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/snp-dists:1.2.0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "-c"
//        ext.prefix    = "snpdists_${aln.baseName}"
//    }
//    withName: SOURMASH {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'quay.io/biocontainers/sourmash:4.8.4--pyhdfd78af_0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.prefix    = "${meta.id}"
//    }
//    withName: SPADES {
//        tag           = "${meta.id}"
//        label         = "process_high"
//        cpus          = 12
//        memory        = 72.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/spades:4.3.0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "--isolate"
//        ext.prefix    = "${meta.id}"
//    }
//    withName: SPECIES {
//        tag           = "Creating list of species"
//        label         = "process_single"
//        cpus          = 1
//        memory        = 6.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/pandas:3.0.5'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//    }
//    withName: SPESTIMATOR {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/spestimator:0.3.0.235'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = ""
//        ext.prefix    = "${meta.id}"
//    }
//    withName: SUMMARY {
//        tag           = "Creating summary files"
//        label         = "process_single"
//        cpus          = 1
//        memory        = 6.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/pandas:3.0.5'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//    }
//    withName: SYLPH {
//        tag           = "${meta.id}"
//        label         = "process_medium"
//        cpus          = 6
//        memory        = 36.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/sylph:0.9.0'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//        ext.args      = "" 
//        ext.prefix    = "${meta.id}"
//    }
//    withName: VERSIONS {
//        tag           = "extracting versions"
//        label         = "process_single"
//        cpus          = 1
//        memory        = 6.GB
//        publishDir = [
//            path: { "${params.outdir}" },
//            mode: params.publish_dir_mode,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//        container     = 'staphb/multiqc:1.35'
//        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
//        time          = 
//    }
//}
