process {
    maxRetries    = 1
    maxErrors     = '-1'

    withLabel:process_single {
        cpus   = { 2       }
        memory = { 8.GB    }
        time   = { 30.m    }
    }
    withLabel:process_low {
        cpus   = { 4       }
        memory = { 16.GB   }
        time   = { 30.m    }
    }
    withLabel:process_medium {
        cpus   = { 8       }
        memory = { 32.GB   }
        time   = { 2.h     }
    }
    withLabel:process_high {
        cpus   = { 16      }
        memory = { 64.GB   }
        time   = { 4.h     }
    }
    withLabel:process_long {
        time   = { 20.h    }
    }
    withLabel:process_high_memory {
        cpus   = { 16      }
        memory = { 128.GB  }
    }
}