// taken from testing with nf-tower

process {
    withName: 'average_nucleotide_identity:datasets_download' {
        cpus = 1
        memory = 1.GB
        //expected usage with 1 cpus 
        //cpus used: 82% cpu core usage
        //memory used: <1 G
        //average duration: 4 minutes
    }
    withName: 'average_nucleotide_identity:datasets_summary' {
        cpus = 1
        memory = 1.GB
        //expected usage with 1 cpus
        //cpus used: 33% cpu core usage
        //memory used: <1 G
        //average duration: <1 minutes
    }
    withName: 'average_nucleotide_identity:fastani' {
        cpus = 4
        memory = 6.GB
        //expected usage with 4 cpus
        //cpus used: 265% cpu core usage
        //memory used: 5G
        //average duration: <1 minutes
    }
    withName: 'average_nucleotide_identity:species' {
        cpus = 1
        //expected usage with 1 cpus
        //cpus used:  cpu core usage
        //memory used: 
        //average duration: minutes
    }
    withName: 'blobtools:bbmap' {
        cpus = 6
        memory = 16.GB
        //expected usage with 12 cpus 
        //cpus used: 367 cpu core usage
        //memory used: 7.5G
        //average duration: 4.9 minutes
    }
    withName: 'blobtools:blastn' {
        cpus = 4
        memory = 18.GB
        //expected usage with 4 cpus 
        //cpus used: 362% cpu core usage
        //memory used: 17.4G
        //average duration: 3.2 minutes
    }
    withName: 'blobtools:blobtools_create' {
        cpus = 1
        memory = 2.GB
        //expected usage with  
        //cpus used: 86.9% cpu core usage
        //memory used: 1G
        //average duration: <1 minutes
    }
    withName: 'blobtools:blobtools_plot' {
        cpus = 2
        memory = 1.GB
        //expected usage with 1 cpu
        //cpus used: 99.8% cpu core usage
        //memory used: <1 G
        //average duration: <1 minutes
    }
    withName: 'blobtools:blobtools_view' {
        cpus = 1
        memory = 1.GB
        //expected usage with  
        //cpus used: 32.1% cpu core usage
        //memory used: < 1G
        //average duration: <1 minutes
    }
    withName: 'de_novo_alignment:bbduk' {
        cpus = 2
        memory = 5.GB
        //expected usage with 1 cpu
        //cpus used: 76% cpu core usage
        //memory used: 2.3G
        //average duration: 2 minutes
    }
    withName: 'de_novo_alignment:fastp' {
        cpus = 2
        memory = 3.GB
        //expected usage with 1 cpu
        //cpus used:  cpu core usage
        //memory used: 
        //average duration: minutes
    }
    withName: 'de_novo_alignment:spades' {
        cpus = 2
        memory = 8.GB
        //expected usage with  
        //cpus used:  cpu core usage
        //memory used: 
        //average duration: minutes
    }
    withName: 'information:amrfinderplus' {
        cpus = 4
        memory = 1.GB
        //expected usage with 4 cpus 
        //cpus used: 322% cpu core usage
        //memory used: 182M
        //average duration: 1.4 minutes
    }
    withName: 'information:fastqc' {
        cpus = 1
        memory = 1.GB
        //expected usage with 1 cpu 
        //cpus used: 42% cpu core usage
        //memory used: 373 M
        //average duration: 2.1 minutes
    }
    withName: 'information:fastqscan' {
        cpus = 1
        memory = 1.GB
        //expected usage with 1 cpu
        //cpus used: 16.5% cpu core usage
        //memory used: 970M
        //average duration: 3 minutes
    }
    withName: 'information:flag' {
        cpus = 2
        memory = 1.GB
        //expected usage with  
        //cpus used:  cpu core usage
        //memory used: 
        //average duration: minutes
    }
    withName: 'information:kleborate' {
        cpus = 2
        memory = 1.GB
        //expected usage with 1 cpu 
        //cpus used: 88% cpu core usage
        //memory used: <1 G
        //average duration: <1 minutes
    }
    withName: 'information:mlst' {
        cpus = 1
        memory = 1.GB
        //expected usage with  
        //cpus used:  cpu core usage
        //memory used: 
        //average duration: minutes
    }
    withName: 'information:plasmidfinder' {
        cpus = 1
        memory = 1.GB
        //expected usage with  
        //cpus used:  cpu core usage
        //memory used: 
        //average duration: minutes
    }
    withName: 'information:quast' {
        cpus = 1
        memory = 1.GB
        //expected usage with  
        //cpus used:  cpu core usage
        //memory used: 
        //average duration: minutes
    }
    withName: 'information:seqsero2' {
        cpus = 1
        memory = 1.GB
    }
    withName: 'information:serotypefinder' {
        cpus = 1
        memory = 1.GB
            //expected usage with  
        //cpus used:  cpu core usage
        //memory used: 
        //average duration: minutes
    }
    withName: 'information:shigatyper' {
        cpus = 2
        memory = 1.GB
            //expected usage with  
        //cpus used:  cpu core usage
        //memory used: 
        //average duration: minutes
    }
    withName: 'information:size' {
        cpus = 2
        memory = 1.GB
        //expected usage with  
        //cpus used:  cpu core usage
        //memory used: 
        //average duration: minutes
    }
    withName: 'kraken2:contigs' {
        cpus = 2
        memory = 8.GB
        //expected usage with 12 cpus
        //cpus used: 84% cpu core usage
        //memory used: 7.5G
        //average duration: <1 minutes
    }
    withName: 'kraken2:fastqs' {
        cpus = 2
        memory = 9.GB
        //expected usage with 12 cpus
        //cpus used: 79% cpu core usage
        //memory used: 8.2G
        //average duration: <1 minutes
    }
    withName: 'min_hash_distance:mash' {
        cpus = 2
        memory = 13.GB
        //expected usage with 8 cpus
        //cpus used: 100% cpu core usage
        //memory used: 632M
        //average duration: <1 minutes
    }
    withName: 'phylogenetic_analysis:iqtree2' {
        cpus = 3
        memory = 1.GB
    }
    withName: 'phylogenetic_analysis:prokka' {
        cpus = 9
        memory = 2.GB
    }
    withName: 'phylogenetic_analysis:roary' {
        cpus = 8
        memory = 1.GB
    }
    withName: 'phylogenetic_analysis:snp_dists' {
        cpus = 1
        memory = 1.GB
    }
    withName: 'report:multiqc' {
        cpus = 1
        memory = 1.GB
        //expected usage with  
        //cpus used:  cpu core usage
        //memory used: 
        //average duration: minutes
    }
    withName: 'report:names' {
        cpus = 2
        memory = 1.GB
            //expected usage with  
        //cpus used:  cpu core usage
        //memory used: 
        //average duration: minutes
    }
    withName: 'report:summary' {
        cpus = 5
        memory = 1.GB
            //expected usage with  
        //cpus used:  cpu core usage
        //memory used: 
        //average duration: minutes
    }
}