docker.enabled          = true
docker.runOptions       = '-u $(id -u):$(id -g)'

params.blast_db         = '/Volumes/NGS_2/Data/refseq/222/blast_db/'
params.blast_db_type    = 'ref_prok_rep_genomes'
params.kraken2_db       = '/Volumes/NGS_2/Data/kraken2_db/2023-06-05'
params.mash_db          = '/Volumes/NGS_2/Data/refseq/222/mash/rep-genomes.msh'
