docker.enabled          = true
docker.runOptions       = '-u $(id -u):$(id -g)'

params.checkm2_db       = '/Volumes/NGS_2/Data/checkm2_db/CheckM2_database/uniref100.KO.1.dmnd'
params.kraken2_db       = '/Volumes/NGS_2/Data/kraken2_db/2023-06-05'
params.mash_db          = '/Volumes/NGS_2/Data/refseq/222/mash/rep-genomes.msh'
