docker.enabled          = true
docker.runOptions       = '-u $(id -u):$(id -g)'

params.blast_db         = '/Volumes/NGS/Data/refseq_228/blast_db/'
params.blast_db_type    = 'ref_prok_rep_genomes'
params.kraken2_db       = '/Volumes/NGS/Data/kraken2_db/k2_standard_08gb_20241228/'
params.mash_db          = '/Volumes/NGS/Data/refseq_228/mash_ref/RefSeqSketches_228.msh'

