process {
  withName:seqyclean{
    container = 'staphb/seqyclean:latest'
  }
  withName:shovill{
    container = 'staphb/shovill:latest'
  }
  withName:fastqc{
    container = 'staphb/fastqc:latest'
  }
  withName:mash_sketch{
    container = 'staphb/mash:latest'
  }
  withName:mash_dist{
    container = 'stabph/mash:latest'
  }
  withName:prokka{
    container = 'staphb/prokka:latest'
  }
  withName:bwa{
    container = 'staphb/bwa:latest'
  }

  withName:sort{
    container = 'staphb/samtools:latest'
  }
  withName:summary{
    container = 'staphb/parallel-perl:latest'
  }
  withName:combined_summary{
    container = 'staphb/parallel-perl:latest'
  }
}
