//# Docker Params -------------------------------------------
//docker.enabled                  = true
//docker.runOptions               = '-u \$(id -u):\$(id -g)'
//docker.sudo                     = false
//docker.temp                     = /tmp
//docker.remove                   = true
//docker.registry                 = ''
//docker.fixOwnership             = true
//docker.engineOptions            = ''
//docker.mountFlags               = ''

//# Singularity Params --------------------------------------
//singularity.enabled             = true
//singularity.autoMounts          = true
//singularity.runOptions          = ""
//process.stageInMode             = "link"
//singularity.engineOptions       = ''
//singularity.cacheDir            = ''

//# AWS Batch Params ----------------------------------------
//process.executor                = 'awsbatch'
//process.queue                   = ''
//aws.batch.cliPath               = '/home/ec2-user/miniconda/bin/aws'
//aws.region                      = 'us-east-1'
//workDir                         = 's3://'

//# Google Cloud Params -------------------------------------
//process.executor                = ''
//google.project                  = ''
//google.location                 = ''
//google.region                   = ''
//workDir                         = ''
//google.lifeSciences.bootDiskSize = 50.GB

//# Nextflow Tower ------------------------------------------
//tower.accessToken               = ''
//tower.enabled                   = true

//# Adjustable Workflow parameters ---------------------------
//params.reads                    = 'reads'
//params.gff                      = 'gff'
//params.fastas                   = 'fastas'
params.outdir                     = 'grandeur'

//# Basic CPU usage grouping
params.maxcpus                    = 12
params.medcpus                    = 4

//# Deciding what to run
//params.fastq_processes          = ['fastp', 'bbduk', 'spades', 'fastqc', 'cg_pipeline', 'shigatyper', 'mash', 'kraken2', 'summary', 'seqsero2', 'multiqc']
//params.contig_processes         = ['amrfinderplus', 'kleborate', 'fastani', 'mlst', 'quast', 'serotypefinder', 'blobtools', 'summary', 'multiqc']
//params.phylogenetic_processes   = ['prokka', 'roary', 'iqtree2', 'snpdists']

//# for cg_pipeline processes
//params.cg_pipeline_options      = '--qual_offset 33 --minLength 1'
//# json with genome sizes
//params.genome_sizes             = 'genome_sizes.json'

//# for blobtools processes
//params.blast_db = 'blast_db'
//params.local_db_type = 'nt'
//params.bwa_options              = ''
//params.samtools_sort_options    = ''
//params.blobtools_create_options = ''
//params.blobtools_view_options   = ''
//params.blobtools_plot_options   = '--format png -r species'

//# for kraken2 process
//params.kraken2_db               = 'kraken2_db'
//params.kraken2_options          = ''

//# for fastp
//params.fastp_options            = ''

//# for bbduk
//params.bbduk_options            = ''

//# for spades process
//params.spades_options           = '--isolate'

//# for fastqc process
//params.fastqc_options           = ''

//# for mash processes
//# WARNING : DO NOT CHANGE params.mash_reference UNLESS YOU ARE USING A DIFFERENT MASH CONTAINER
//params.mash_reference           = '/db/RefSeqSketchesDefaults.msh'
//params.mash_options             = '-v 0 -d 0.5'

//# for fastani
//params.fastani_options          = ''
//params.fastani_refs             = './configs'

//# for prokka process
//params.prokka_options           = '--mincontiglen 500 --compliant --locustag locus_tag --centre STAPHB'

//# for quast process
//params.quast_options            = ''

//# for seqsero2 process
//params.seqsero2_options         = '-m a -b mem'

//# for shigatyper process
//params.shigatyper_options       = ''

//# for kleborate process
//params.kleborate_options        = '-all'

//# for serotypefinder process
//params.serotypefinder_options   = ''

//# for plasmidfiner process
//params.plasmidfinder_options    = ''

//# for amrfinder plus process
//params.amrfinderplus_options    = ''

//# for mlst process
params.mlst_options               = ''

//# for multiqc process
//params.multiqc_options          = ''

//# for roary process
params.roary_options              = ''

//# for iqtree2 process
//params.iqtree2_options          = '-t RANDOM -m GTR+F+I -bb 1000 -alrt 1000'
//params.outgroup                 = ''

//# for snp-dists process
params.snp_dists_options          = '-c'

//# Docker or Singularity Images -------------------------------------------
bbduk_container                   = 'staphb/bbtools:38.96'
fastp_container                   = 'bromberglab/fastp:latest'
spades_container                  = 'staphb/spades:3.15.4'
fastqc_container                  = 'staphb/fastqc:0.11.9'
mash_container                    = 'staphb/mash:2.3'
fastani_container                 = 'staphb/fastani:1.33'
prokka_container                  = 'staphb/prokka:1.14.5'
quast_container                   = 'staphb/quast:5.0.2'
lyveset_container                 = 'staphb/lyveset:2.0.1'
plasmidfinder_container           = 'staphb/plasmidfinder:2.1.6'
seqsero2_container                = 'staphb/seqsero2:1.2.1'
shigatyper_container              = 'quay.io/uphl/shigatyper:latest'
kleborate_container               = 'staphb/kleborate:2.1.0'
serotypefinder_container          = 'staphb/serotypefinder:2.0.1'
amrfinderplus_container           = 'staphb/ncbi-amrfinderplus:3.10.24'
kraken2_container                 = 'staphb/kraken2:2.1.2'
blastn_container                  = 'ncbi/blast:2.13.0'
bwa_container                     = 'staphb/bwa:0.7.17'
samtools_container                = 'staphb/samtools:1.15'
blobtools_container               = 'chrishah/blobtools:v1.1.1'
mlst_container                    = 'staphb/mlst:2.22.0'
summary_container                 = 'staphb/parallel-perl:latest'
roary_container                   = 'staphb/roary:3.13.0'
iqtree_container                  = 'staphb/iqtree2:2.1.2'
snpdists_container                = 'staphb/snp-dists:0.8.2'
multiqc_container                 = 'quay.io/biocontainers/multiqc:1.12--pyhdfd78af_0'

process {
  publishDir = [ path: params.outdir, mode: 'copy' ]

  withLabel: maxcpus {
    cpus = params.maxcpus
  }
  withLabel: medcpus {
    cpus = params.medcpus
  }

  withName: 'bbduk' {
    container = bbduk_container
  }
  withName: 'fastp' {
    container = fastp_container
  }
  withName: 'spades' {
    cpus = params.maxcpus
    container = spades_container
  }
  withName: 'fastqc' {
    container = fastqc_container
  }
  withName: 'mash_.*' {
    container = mash_container
  }
  withName: 'fastani' {
    container = fastani_container
  }
  withName: 'prokka' {
    container = prokka_container
  }
  withName: 'quast' {
    container = quast_container
  }
  withName: 'lyveset_.*' {
    container = lyveset_container
  }
  withName: 'seqsero2.*' {
    container = seqsero2_container
  }
  withName: 'shigatyper' {
    container = shigatyper_container
  }
  withName: 'kleborate' {
    container = kleborate_container
  }
  withName: 'plasmidfinder' {
    container = plasmidfinder_container
  }
  withName: 'serotypefinder.*' {
    container = serotypefinder_container
  }
  withName: 'amrfinderplus' {
    container = amrfinderplus_container
  }
  withName: 'kraken2' {
    container = kraken2_container
  }
  withName: 'blastn' {
    container = blastn_container
  }
  withName: 'bwa' {
    container = bwa_container
  }
  withName: 'sort' {
    container = samtools_container
  }
  withName: 'create' {
    container = blobtools_container
  }
  withName: 'view' {
    container = blobtools_container
  }
  withName: 'blobtools' {
    container = blobtools_container
  }
  withName: 'mlst' {
    container = mlst_container
  }
  withName: 'summary' {
    container = summary_container
  }
  withName: 'multiqc' {
    container = multiqc_container
  }
  withName: 'roary' {
    container = roary_container
  }
  withName: 'iqtree2' {
    container = iqtree_container
  }
  withName: 'snp_dists' {
    container = snpdists_container
  }
}
