// Grandeur Peak Workflow Configuration
// Description: Workflow for serotyping and genomic comparison of isolates
// Author: Erin Young
// email: eriny@utah.gov

// #########################
// ## Pipeline Parameters ##
// #########################

// input fastas for either peak or grandeur
// params.fastas = 'fastas'

// fasta files with prokka annotation for peak
// params.gff = 'gff'

// paired end fastq files for grandeur
// params.reads = 'reads'

// final directory for either peak or grandeur
// params.outdir = 'grandeur_peak'

// params.maxcpus = 8
// params.medcpus = 4

// params.amrfinderplus = true
// params.amrfinderplus_options = ''

// yes, blobtools has a bunch of associated paramaters
// params.blast_db = 'blast_db'
// params.local_db_type = 'nt'
// params.blobtools = false
// params.blobtools_create_options=''
// params.blobtools_plot_options = '--format png -r species'
// params.blobtools_view_options=''
// params.bwa_options = ''
// params.samtools_sort_options=''

// params.cg_pipeline = true
// params.cg_pipeline_options = '--qual_offset 33 --minLength 1'
// params.genome_sizes = 'configs/genome_sizes.json'

// params.fastqc = true
// params.fastqc_options = ''

// params.iqtree2 = true
// params.iqtree2_options = '-t RANDOM -m GTR+F+I -bb 1000 -alrt 1000'
// because it is just easier to specify the outgroup
// params.outgroup = ''

// params.kleborate = true
// params.kleborate_options = '-all'

// params.kraken2 = false
// path to kraken2 database
// params.kraken2_db = 'kraken2_db'
// params.kraken2_options = ''

// params.mash = true
// params.mash_options = '-v 0 -d 0.5'
// yes, this means that whatever mash container is used, the reference file must be included in it
// params.mash_reference = '/db/RefSeqSketchesDefaults.msh'

// params.mlst = true

// params.multiqc = true
// params.multiqc_options = ''

// params.prokka = false
// params.prokka_options = '--mincontiglen 500 --compliant --locustag locus_tag'
// params.center = 'STAPHB'

// params.quast = true
// params.quast_options = ''

// params.roary = true
// params.roary_options = ''
// params.kraken_db = 'kraken_db'

// used to parse final sample name in process summary
// params.run = ''

// there are different parameters for seqsero2 for fastq and fasta files
// params.seqsero2 = true
// params.seqsero2_options_fasta = '-t 4 -m k'
// params.seqsero2_options_fastq = '-t 2 -m a -b mem'

// yes, this means that whatever seqyclean container is used, the contaminant file must be included in it
// params.seqyclean_contaminant_file = "/Adapters_plus_PhiX_174.fasta"
// params.seqyclean_options = '-minlen 25 -qual'

// params.serotypefinder = true
// params.serotypefinder_options = ''

// params.shigatyper = true
// params.shigatyper_options = ''

// params.snp_dists = true
// params.snp_dists_options = ''

// params.spades = true
// params.spades_options = '--isolate'

// #######################
// #### Docker Params ####
// #######################

// docker.enabled = true
// docker.runOptions = "-u \$(id -u):\$(id -g)"

// ########################
// ## Singularity Params ##
// ########################
// singularity.enabled = true
// singularity.runOptions = ''
// singularity.autoMounts = true
// singularity.cacheDir = ''
// process.stageInMode = "copy"

// ######################
// ## AWS Batch Params ##
// ######################
// process.executor = 'awsbatch'
// process.queue = ''
// aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
// aws.region = 'us-east-1'
// workDir = 's3://'

// #########################
// ## Google Cloud Params ##
// #########################
// process.executor = ''
// google.project = ''
// google.location = ''
// google.region = ''
// workDir = ''
// google.lifeSciences.bootDiskSize = 50.GB

// ####################
// ## Nextflow Tower ##
// ####################
// tower.accessToken = ''
// WARNING : default shigatyper container will not work with tower enabled
// tower.enabled = true

// #######################
// ## Docker Containers ##
// #######################

process {
  cpus = 2
  memory = '4 GB'

  withName:amrfinderplus{
    container = 'staphb/ncbi-amrfinderplus:latest'
  }
  withName:blastn{
    container = 'ncbi/blast:latest'
  }
  withName:blobtools{
    container = 'chrishah/blobtools:v1.1.1'
  }
  withName:bwa{
    container = 'staphb/bwa:latest'
  }
  withName:cg_pipeline{
    container = 'staphb/lyveset:latest'
  }
  withName:create{
    container = 'chrishah/blobtools:v1.1.1'
  }
  withName:fastqc{
    container = 'staphb/fastqc:latest'
  }
  withName:iqtree2{
    container = 'staphb/iqtree2:latest'
  }
  withName:kleborate{
    container = 'staphb/kleborate:latest'
  }
  withName:kraken2{
    container = 'staphb/kraken2:latest'
  }
  withName:mash_dist{
    container = 'staphb/mash:latest'
  }
  withName:mash_sketch{
    container = 'staphb/mash:latest'
  }
  withName:mlst{
    container = 'staphb/mlst:latest'
  }
  withName:multiqc{
    container = 'ewels/multiqc:latest'
  }
  withName:prokka{
    container = 'staphb/prokka:latest'
  }
  withName:quast{
    container = 'staphb/quast:latest'
  }
  withName:roary{
    container = 'staphb/roary:latest'
  }
  withName:seqsero2{
    container = 'staphb/seqsero2:latest'
  }
  withName:seqyclean{
    container = 'staphb/seqyclean:latest'
  }
  withName:serotypefinder{
    container = 'staphb/serotypefinder:latest'
  }
  withName:shigatyper{
    container = 'andrewlangvt/shigatyper:1'
  }
  withName:shuffle{
    container = 'staphb/lyveset:latest'
  }
  withName:snp_dists{
    container = 'staphb/snp-dists:latest'
  }
  withName:sort{
    container = 'staphb/samtools:latest'
  }
  withName:spades{
    cpus = 8
    container = 'staphb/spades:latest'
  }
  withName:summary{
    container = 'staphb/parallel-perl:latest'
  }
  withName:view{
    container = 'chrishah/blobtools:v1.1.1'
  }
}
