includeConfig 'singularity.config'

singularity {
  autoMounts = true
  cacheDir = '/home/IDGenomics_NAS/singularity'
  }

// nextflow run /home/eriny/sandbox/Grandeur/grandeur.nf -c /home/eriny/sandbox/Grandeur/configs/UPHL.config

params {
  maxcpus = 20

  // For Grandeur
  center = 'UPHL'
  prokka = true
  blobtools = false
  blast_db = '/home/IDGenomics_NAS/Data/blast_db_test'
  reads = 'Sequencing_reads/Raw'
  kraken2 = true
  kraken2_db = '/home/IDGenomics_NAS/Data/kraken2_db/MiniKraken2/minikraken2_v2_8GB_201904_UPDATE'
  shigatyper = false

  // For Peak
  kraken = true
  kraken_db = '/home/IDGenomics_NAS/kraken_mini_db/minikraken_20141208'
}

process {
  withName:seqyclean{
    container = 'staphb/seqyclean:1.10.09'
  }
  withName:mash_dist{
    container = 'staphb/mash:2.3'
  }
  withName:mash_sketch{
    container = 'staphb/mash:2.3'
  }
  withName:shovill{
    errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
    time = { 2.h * task.attempt }
    container = 'staphb/shovill:1.1.0'
  }
  withName:seqsero2{
    container = 'staphb/seqsero2:1.2.1'
  }
  withName:serotypefinder{
    container = 'staphb/serotypefinder:2.0.1'
  }
  withName:shigatyper{
    container = 'andrewlangvt/shigatyper:1'
  }
  withName:amrfinderplus{
    container = 'staphb/ncbi-amrfinderplus:3.10.16'
    errorStrategy = 'ignore'
  }
  withName:roary_kraken{
    //container = 'kapsakcj/roary:3.13.0-plus-kraken'
    container = 'sangerpathogens/roary:latest'
  }
}
