includeConfig 'singularity.config'

singularity.autoMounts = true

params.center = 'UPHL'
params.blobtools = true
params.local_blastdb = '/home/IDGenomics_NAS/Data/blastdb'
params.maxmem = 100
params.maxcpus = 20

// nextflow run /home/eriny/sandbox/Grandeur/grandeur.nf -c /home/eriny/sandbox/Grandeur/configs/UPHL.config

params.reads = 'Sequencing_reads/Raw'
