singularity {
  enabled       = true
  autoMounts    = true
  cacheDir      = '/Volumes/IDGenomics_NAS/singularity'
}

// nextflow run /home/eriny/sandbox/Grandeur/grandeur.nf -profile uphl -with-dag grandeur_$(date +"%y-%m-%d-%H%M%S").png

params {
  maxcpus       = 12
  medcpus       = 4

  blast_db      = '/Volumes/IDGenomics_NAS/Data/refseq/215'
  blast_db_type = 'ref_prok_rep_genomes'
  kraken2_db    = '/Volumes/IDGenomics_NAS/Data/kraken2_db/MiniKraken2/minikraken2_v2_8GB_201904_UPDATE'
  mash_db       = '/Volumes/IDGenomics_NAS/Data/refseq/215/rep-genomes.msh'
}
