name: Test Grandeur workflow with additional fastani references

on: [pull_request, workflow_dispatch]

jobs:

  test:
    runs-on: ubuntu-20.04
    steps:
        - name: Checkout
          uses: actions/checkout@v3
          with:
            lfs: true

        - name: Checkout LFS objects
          run: git lfs checkout
            
        - name: Install Nextflow
          run: |
            wget -qO- get.nextflow.io | bash
            sudo mv nextflow /usr/local/bin/
          
        - name: Download fastas
          run: |
            mkdir fastas
            for accession in GCA_019710395.3_ASM1971039v3 GCA_001652385.2_ASM165238v2 GCA_013344545.1_ASM1334454v1
            do
                all=$(echo $accession | cut -f 2 -d "_")
                fir=$(echo $all | cut -c 1-3)
                mid=$(echo $all | cut -c 4-6)
                end=$(echo $all | cut -c 7-9)
                wget https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/$fir/$mid/$end/$accession/${accession}_genomic.fna.gz
                gzip -d ${accession}_genomic.fna.gz
                mv ${accession}_genomic.fna fastas/.
            done

        - name: Download fastani refs for list
          run: |
            mkdir refs
            for accession in GCA_000240185.2_ASM24018v2 GCA_003812925.1_ASM381292v1 GCA_901421005.1_39282_A01
            do
                all=$(echo $accession | cut -f 2 -d "_")
                fir=$(echo $all | cut -c 1-3)
                mid=$(echo $all | cut -c 4-6)
                end=$(echo $all | cut -c 7-9)
                wget https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/${fir}/${mid}/${end}/${accession}/${accession}_genomic.fna.gz
                mv ${accession}_genomic.fna.gz refs/.
            done

            ls refs/* > fastani_ref_list.txt

        - name: Download fastani refs
          run: |
              mkdir refs
              for accession in GCA_009665515.2_ASM966551v2 GCA_009763645.1_ASM976364v1
              do
                  all=$(echo $accession | cut -f 2 -d "_")
                  fir=$(echo $all | cut -c 1-3)
                  mid=$(echo $all | cut -c 4-6)
                  end=$(echo $all | cut -c 7-9)
                  wget https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/${fir}/${mid}/${end}/${accession}/${accession}_genomic.fna.gz
              done
  
              ls refs/* > fastani_ref_list.txt

        - name: Run Grandeur with ref list
          run: |
            nextflow run . -profile docker -c .github/workflows/github_actions.config --fastas fastas --fastani_ref_list fastani_ref_list.txt

            cat grandeur/grandeur_summary.tsv

        - name: Run Grandeur with refs
          run: |
            nextflow run . -profile docker -c .github/workflows/github_actions.config --fastas fastas -resume --fastani_ref GCA_009665515.2_ASM966551v2_genomic.fna.gz,GCA_009763645.1_ASM976364v1_genomic.fna.gz --outdir grandeur2
  
            cat grandeur2/grandeur_summary.tsv

        - name: Run Grandeur with refs and ref list
          run: |
            nextflow run . -profile docker -c .github/workflows/github_actions.config --fastas fastas -resume --fastani_ref_list fastani_ref_list.txt --fastani_ref GCA_009665515.2_ASM966551v2_genomic.fna.gz,GCA_009763645.1_ASM976364v1_genomic.fna.gz --outdir grandeur3
    
            cat grandeur3/grandeur_summary.tsv

    