name: Test Grandeur workflow with E. coli and Shigella

on: [pull_request, workflow_dispatch]

jobs:

  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
            
      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

          nextflow -version
          
      - name: Run Grandeur
        run: |
          docker --version
          
          mkdir fastas 
          for accession in GCA_009738455.1_ASM973845v1 GCA_003019175.1_ASM301917v1 GCA_023823105.1_ASM2382310v1
          do
            all=$(echo $accession | cut -f 2 -d "_")
            fir=$(echo $all | cut -c 1-3)
            mid=$(echo $all | cut -c 4-6)
            end=$(echo $all | cut -c 7-9)
            wget https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/${fir}/${mid}/${end}/${accession}/${accession}_genomic.fna.gz
            gzip -d ${accession}_genomic.fna.gz
            mv ${accession}_genomic.fna fastas/.
          done

          nextflow run . -profile docker -c .github/workflows/github_actions.config --fastas fastas
          cat grandeur/grandeur_summary.tsv
          
      - name: Check E. coli file
        run: |
          for file in grandeur/shigatyper/shigatyper_summary.txt grandeur/shigatyper/shigatyper_hits.txt grandeur/serotypefinder/serotypefinder_results.txt
          do
            head $file
            wc -l $file
          done
  