process {
	maxRetries    = 0
	maxErrors     = '-1'
	
	withLabel:process_single {
		cpus   = { 1 }
		memory = { 6.GB * task.attempt }
		time   = { 10.m * task.attempt }
	}
	withLabel:process_low {
		cpus   = { 2     * task.attempt }
	    memory = { 12.GB * task.attempt }
	    time   = { 2.h   * task.attempt }
	}
	withLabel:process_medium {
		cpus   = { 2     * task.attempt }
	    memory = { 12.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 2     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 20.h  * task.attempt }
	}
	withLabel:process_high_memory {
		memory = { 12.GB * task.attempt }
	}

	withName:AMRFINDER {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:BAKTA {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:BLASTN {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:BLOBTOOLS_CREATE {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:BLOBTOOLS_PLOT {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:BLOBTOOLS_VIEW {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:CIRCULOCOV {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:CORE_GENOME_EVALUATION {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:DATASETS_DOWNLOAD {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:DATASETS_SUMMARY {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:DOWNLOAD_SRA {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:DRPRG {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:ELGATO {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:EMMTYPER {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:ENA_DOWNLOAD {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:FASTANI {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:FASTP {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:FASTQC {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:HEATCLUSTER {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:IQTREE2 {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:JSON_CONVERT {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:KAPTIVE {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:KLEBORATE {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:KRAKEN2 {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:MASHTREE {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:MASH_DIST {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:MASH_SKETCH {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:MENINGOTYPE {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:MLST {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:MQC_PREP {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:MULTIQC {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:MYKROBE {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:NAMES {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:PANAROO {
		publishDir = [ path: "grandeur", mode: 'link', pattern: "panaroo/*"]
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:PBPTYPER {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:PHYTREEVIZ {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:PLASMIDFINDER {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:PROKKA {
		publishDir = [ path: "grandeur", mode: 'link', pattern: "gff/*.gff" ]
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:QUAST {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:REFERENCES {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:ROARY {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:SEQSERO2 {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:SEROTYPEFINDER {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:SHIGATYPER {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:SNPDISTS {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:SPADES {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:SPECIES {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:SUMMARY {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:VERSIONS {
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
}
