process {
    maxRetries    = 1
    maxErrors     = '-1'

    withLabel:process_single {
      cpus   = { 1 }
      memory = { 6.GB * task.attempt }
      time   = { 10.m * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 2.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 2     * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 2    * task.attempt }
        memory = { 45.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 20.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 45.GB * task.attempt }
    }
}