name: Test Grandeur workflow

on: [pull_request, workflow_dispatch]

jobs:

  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
            
      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

          nextflow -version
          
      - name: Run Grandeur
        run: |
          docker --version
          
          mkdir reads
          # lecleria genome - not an actual use-case
          wget -q ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR283/002/SRR2838702/SRR2838702_1.fastq.gz
          wget -q ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR283/002/SRR2838702/SRR2838702_2.fastq.gz
          mv *fastq.gz reads/.
          
          nextflow run . -profile docker -c .github/workflows/github_actions.config --reads reads
          cat grandeur/grandeur_summary.tsv
          cat grandeur/summary/software_versions.yml
          ls  grandeur/multiqc/multiqc_report.html
      
      - name: Check summary files
        run: |
          for file in grandeur/mlst/mlst_summary.tsv
          do
            head $file
            wc -l $file
          done

      - name: tree
        run: tree grandeur*
