name: Test Grandeur workflow with vibrio

on: [pull_request, workflow_dispatch]

jobs:

  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
            
      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

          nextflow -version
          
      - name: Run Grandeur
        run: |
          docker --version
          
          mkdir fastas
          for accession in GCA_009665515.2_ASM966551v2 GCA_009763645.1_ASM976364v1 GCA_004355205.1_ASM435520v1 GCA_009665315.1_ASM966531v1 GCA_002953375.1_ASM295337v1
          do
            all=$(echo $accession | cut -f 2 -d "_")
            fir=$(echo $all | cut -c 1-3)
            mid=$(echo $all | cut -c 4-6)
            end=$(echo $all | cut -c 7-9)
            wget https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/$fir/$mid/$end/$accession/${accession}_genomic.fna.gz
            gzip -d ${accession}_genomic.fna.gz
            mv ${accession}_genomic.fna fastas/.
          done

          nextflow run . -profile docker -c .github/workflows/github_actions.config --fastas fastas
          cat grandeur/grandeur_summary.tsv
          cat grandeur/summary/software_versions.yml
          ls  grandeur/multiqc/multiqc_report.html

      - name: Check Vibrio species
        run: |
          grep -i vibrio grandeur/fastani/fastani_summary.csv
          for file in grandeur/kaptive/kaptive_summary.txt
          do
            head $file
            wc -l $file
          done
